{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  <img width=100% src="/static/images/me.jpeg">
                  <br><br>
                  Меня зовут Юрий Кириллов, я автор этой поделки
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <h4>Привет!</h4>
            <p>Я Юра, 10 лет проработал в сфере тестирования ПО, пройдя путь от junior-тестировщика до
                тимлида команды тестирования, разработки и техсапорта. На последнем месте работы 3 года
                проработал методологом: мы учили тест-менеджеров свежим подходам в работе
                (ну или хотя бы просто выполнять свои обязанности), выстраивали корректный процесс в командах,
                ставили эксперименты (благо команд тестирования у нас было больше сотни, было где развернуться),
                придумывали и собирали метрики по тестированию. В какой-то момент я понял, что работа уже не особо
                прет. Зрела идея собственного проекта, с IT никак не связанного, я начал всерьез задумываться об
                уходе с работы "на дядю". В этот момент добрый начальник предложил попробовать себя в их команде
                разработки: рук сильно не хватало, найм в нашей компании был связан с большим объемом бюрократии и
                растягивался на месяцы, в результате я с моими очень поверхностными знаниями в разработке выглядел
                как-будто даже ценным кадром.</p>
            <p>Понятно, что все эти годы разработка все время была где-то рядом, но я тщательно избегал
                близких контактов с ней в выходящих за пределы производственных задач рамок. Она пугала
                и казалась уделом избранных. Да, когда-то я начинал с сайтостроения на html, css и даже
                немного js, но это было совсем давно, и от современных трендов я давно отстал. Также, в
                разные годы, касался по чуть-чуть php, java, c++, sql и даже несколько раз порывался
                учить Питон, но благие намерения всегда разбивались о суровую реальность: напрямую умение
                программировать от меня не требовалось, а без реальных задач запал быстро протухал.</p>
            <p>И вот я пришел в команду разработки в качестве аж sql-программиста. На тот момент я умел только делать
               несложные селекты и от джойнов уже начинала слегка кружиться голова. Поначалу меня бросили фиксить
                простенькие баги в уже существующих функциях и процедурах (в том проекте вся бизнес-логика была
                построена на стороне базы). Первую неделю не было понятно вообще ничего. На вторую я уже понял,
                чем функции отличаются от процедур и в чем разницы между inner и left джойнами. А через пару
                месяцев я уже писал новые фукции и оптимизировал производительность - оказалось, что sql, в целом,
                довольно простая штука. Через год нас перекинули писать новый продукт с нуля и я уже самостоятельно
                проектирован новую БД на postgres (после mssql это было прям в кайф!). Когда задачи по БД
                закончились - была пара задач на спринге, но тут я понял, что java мне совсем идеологически чужда,
                все время грустилось о лаконичном и изящном Питоне.</p>
            <p>Короче говоря, несмотря на свежеобретенный кайф от работы программистом, я окочательно решился уйти и
                начать свой проект. В этот замечательный момент пришла пандемия, и все мои планы немножечко
                рухнули, мой проект был связан с туризмом, а туристы вдруг резко кончились. Зато появилось
                время хорошенько обдумать свои дальнейшие планы.</p>
            <p>На Практикум я записался, потому что через 3 месяца после ухода из компании понял, что скучаю по
                разработке - она здорово загружала мозги и приносила удовольствие. Я решил, что сейчас как раз
                есть время на то, чтобы не спеша закрыть свой гештальт с Питоном. Кроме того, я рассудил, что
                через полгода-год я вполне могу затосковать по теплому и уютному офису, и неплохо бы за это
                время научиться чему-то новому, полезному и востребованному. Так что я с вами! Вперед!</p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}