<nav class="navbar navbar-light" style="background-color: #ffffff;">
    <a href="{% url 'index' %}">
        <img height="50px" src="/static/images/logo.png"></a>
    <form method="POST" action="{% url 'search_results' %}">
        {% csrf_token %}
        <input type="search" placeholder="Искать запись" name="searched"/>
        <button type="submit">Искать</button>
    </form>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
            Пользователь: {{ user.username }}
            <a class="p-2 text-dark" href="{% url 'new_post' %}">Новая запись</a>
            <a class="p-2 text-dark" href="{% url 'password_change' %}">Изменить пароль</a>
            <a class="p-2 text-dark" href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a class="p-2 text-dark" href="{% url 'login' %}">Войти</a> |
            <a class="p-2 text-dark" href="{% url 'signup' %}">Регистрация</a>
        {% endif %}
    </nav>
</nav>
